body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: 1.5;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;

  @include media($mobile) {
    font-size: 28px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;

  @include media($mobile) {
    font-size: 24px;
  }
}

h3 {
  font-size: 18px;
  text-transform: uppercase;

  @include media($mobile) {
    font-size: 16px;
  }
}

p {
  margin: 0 0 $small-spacing;
  font-size: 20px;
  line-height: 30px;

  @include media($mobile) {
    font-size: 16px;
    line-height: 1.5;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
