<div class="container">
  <div class="package-upsell">
    <div class="package-info">
      <%= image_tag package.image %>
      <div class="package-text">
        <div class="blurb">
          <h3><%= package.name %></h3>
          <p><%= package.short_description %></p>
        </div>
      </div>
    </div>
    <div class="cta">
      <%= link_to 'Start Your Project', '##', class: 'btn btn-hollow btn-full' %>
    </div>
  </div>
</div>
