<div class="quote">
  <blockquote>
    <p>Before Bit Riot, I was sending out videos weekly via e-mail. They saw this pain point and built an e-learning platform that our affiliates and our members love. They handle the technology so I can focus on delivering content to our customers.</p>
    <div class="quote-people">
      <div class="quote-person">
        <%= image_tag 'duane.jpg' %>
        <p class="who">Duane Ludwig</p>
        <p class="position">CEO, Bang Muay Thai, Inc</p>
      </div>
    </div>
  </blockquote>
</div>
