<div class="quote">
  <blockquote>
    <p>Working with BitRiot for the last 10 months has been a great experience.  Josh not only understands the technical side but is also very in tune with strategy.  Jacqueline's creativity has helped us gain popularity with our platform.  Highly recommend this amazing team!</p>
    <div class="quote-people">
      <div class="quote-person">
        <%= image_tag 'pedram.jpg' %>
        <p class="who">Pedram Hendizadeh</p>
        <p class="position">Founder, UMA Health</p>
      </div>
  </blockquote>
</div>
