<div class="quote">
  <blockquote>
    <p>Bit Riot seamlessly and quickly took our company’s vision and made it a reality. With a crucial pitch on the horizon, and our need for a visual representation of that vision, their flawless execution of our website allowed us to deliver with complete confidence. They made us look like rock stars and we couldn’t have done it without them.</p>
    <div class="quote-people">
      <div class="quote-person">
        <%= image_tag 'kbykowski.jpg' %>
        <p class="who">Kristen Bykowski</p>
        <p class="position">Co Founder,<br>Magic Bank</p>
      </div>
      <div class="quote-person">
        <%= image_tag 'nrock.jpg' %>
        <p class="who">Nicole Rock</p>
        <p class="position">Co Founder,<br>Magic Bank</p>
      </div>
    </div>
  </blockquote>
</div>
