<% content_for :body_class, 'no-subscribe' %>
<% content_for :hero do %>
  <div class="hero-container">
    <div class="hero-image" style="background-image: url('<%= image_path('gfx-chat.jpg') %>');"></div>
  </div>
  <div class="hero-blurb">
    <h1>Thanks!</h1>
    <p>Please check your e-mail for a confirmation.</p>
  </div>
<% end %>
